{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="text-center display-3">drink List</h1>
        <div class="row justify-content-center">
            <div class="col-6">
                <ul class="list-group-item  justify-content-between align-items-center" class="list-group">

                    {% for drink in drinks %}
                    {% if session['user_id'] == drink.user.id %}
                    <li ><a href="/drinks/{{drink.id}}">{{ drink.name }} </a></li>
                        <form style="display:inline;" action="/drinks/{{drink.id}}/delete" method="POST">
                            <button class="btn btn-sm btn-danger " data-id="{{drink.id}}">X</button>
                        </form>


                    {% endif %}
                                        <!-- {%if drink.name != drink.name %}
                                        
                                        <h2>There's nothing in your list</h2>
                                        
                                        {% endif %} -->
                    {% endfor %}
                    
                </ul>
            </div>
        </div>

</div>

<p><a class="btn btn-primary" href="/drinks/add">Add a drink to your favs</a></p>


                    


{% endblock %}