{% extends 'base.html' %}
{% block content %}



<h2> Cocktail Name: {{drink.name}} </h2>

<p>Ingredients required:</p>
<ul>
    {% if drink.ingredient1%}
    <li> {{drink.ingredient1}}</li>
    {% endif %}
    {% if drink.ingredient2 %}
    <li> {{drink.ingredient2}} </li>
    {% endif %}
    {% if drink.ingredient3 %}
    <li> {{drink.ingredient3}} </li>
    {% endif %}
    {% if drink.ingredient4 %}
    <li> {{drink.ingredient4}} </li>
    {% endif %}
    {% if drink.ingredient5 %}
    <li> {{drink.ingredient5}} </li>
    {% endif %}
</ul>
Instructions: {{drink.instructions}}


{% endblock content %}