{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>{{ favlist.name }}</h1>
    {% if favlist.description %}
    <p class="lead">Description: {{ favlist.description }}</p>
    {% endif %}
</div>

<div class="text-danger">
    {% for drink in favlist.drinks %}
    <li><a href="/drinks/{{drink.id}}">{{ drink.name }}</a></li>
    {% endfor %}
</div>

<p>
    <a class="btn btn-primary" href="/favlists/{{ favlist.id }}/add-drink">
        Add drink to favlist
    </a>
</p>

{% endblock %}