{% extends 'base.html' %}

{% block content %}

<form class="navbar-form navbar-right" action="/search">
    <input name="search-name" list="datalistOptions" id="exampleDataList" type="text"  placeholder="Search By Name..." id="search">
    <input type="submit" value="Search">
</form>

{% if res %}
<h1 class="display-3">Search Results</h1>
<p class="lead">Search results for "{{ term }}"</p>
{% if not g.user %}
<a href="/users/login" class="btn btn-primary">Log in to start mixing...</a>
{% else %}
<a href="/users/{{ g.user.id }}" class="btn btn-primary">See your saved recipes</a>
{% endif %}

<div class="row text-center">
    {% for drink in res %}
    <div class="col-lg-2 col-md-4 mb-2">
        <div class="card h-80">
            <img class="card-img-top" src="{{ drink.strDrinkThumb }}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ drink.strDrink }}</h4>
            </div>
            <div class="card-footer">
                <a href="/drinks/{{ drink.idDrink }}" class="btn btn-primary">Add to fav</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container" style="margin-top: 2em">
    {% endif %}

    <datalist id="datalistOptions">
        <option value="Margarita">
        <option value="Sex on the Beach">
        <option value="Bloody Mary">
        <option value="New York Sour">
        <option value="Limeade">
    </datalist>

    <style>
        .container {
            background-image: url("../../static/drink2.jpg");
            background-color: #cccccc;
            height: 48em;
            width: 100em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    {% endblock %}
