{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 2em">
        <div class="input-group mb-3">
            <form action="/search">
                <span class="input-group-text">
                    <input name="search-name" type="text" class="form-control" aria-label="Search By Name"
                        list="datalistOptions" placeholder="Search By Name...">
                    <button class="btn btn-outline-secondary" type="submit" class="hi"
                        id="button-addon2">Search</button></span>
            </form>
        </div>
        <datalist id="datalistOptions">
            <option value="Margarita">
            <option value="Sex on the Beach">
            <option value="Bloody Mary">
            <option value="New York Sour">
            <option value="Limeade">
        </datalist>
        <style>
            .container {
                background-image: url("../../static/drink2.jpg");
                background-color: #cccccc;
                height: 48em;
                width: 100em;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </div>
{% endblock %}
