{% extends 'base.html' %}

{% block content %}
<h2>search by name</h2>
    <form method="post" action="{{ url_for('searched_name')}}">
        <input type="text" name="search-name"  />
        <input type="submit" value="Search" >
    </form>
<h2>search by first letter</h2>
        <form method="post" action="{{ url_for('searched_letter')}}">
            <input type="text" name="search-letter" />
            <input type="submit" value="Search">
        </form>
<h2>search by ingredient</h2>
<form method="post" action="{{ url_for('searched_ingredient')}}">
    <input type="text" name="search-ingredient" />
    <input type="submit" value="Search">
</form>
{% if session['user_id'] %}

<a class="nav-link" href="/favorites"><h2>Go to Favs</h2></a>

{% else %}

<h1>No favs for you. <a class="nav-link" href="/login">Login first</a> or 

{% endif %}

{% endblock %}