{% extends 'base.html' %}

{% block content %}
<h1>Search by name</h1>

    <form action="/searched/name">
        <input id="name" name="name" autofocus />
        <button>Go!</button>
    </form>
    
    {%if drink_name%}
    <div>
        <p>{{drink_name}}</p>
    </div>
    {%endif%}

<h1>Search by Ingredient</h1>
    <form action="/searched/ingredient">
        <input id="name" name="name" autofocus />
        <button>Go!</button>
    </form>
    
    {%if drink_ingredient%}
    <div>
        <p>{{drink_ingredient}}</p>
    </div>
    {%endif%}
{% endblock %}